<div class="stack-el navigator skinny headroom-s">
<% if (!thought){ %>
  <% if (classname){ %>
  / <a href="/class/<%= classname %>"><%= classname %></a> 
  <% } %>
  <% if (week){ %>
  / <a href="/class/<%= classname %>">week <%= week %></a> 
  <% } %>
  <% if (assignment){ %>
  / <a href="/class/<%= classname %>/week/<%= week %>/assignment/<%= assignment %>"><%= assignment %></a>
  <% } %>
<% } %>
</div>
<div class="full">
  <%- partial(contentPartial) %>
</div>
<div class="myles-footer stack-el footroom-l">
  <hr>
  This was written by <a class="blog-link" href="http://twitter.com/recborg">Myles</a>
  <br>
  <span class="more-posts" style="opacity:0.3"><a href="/">read more posts</a><br></span>
  <span class="" style="opacity:0.3"><a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001xzhc59f6LQ_eTSA9m3uKLQ%3D%3D">get Myles in your inbox</a></span>
<hr>
  <iframe width="160" height="400" src="https://leanpub.com/passiveincome/embed" frameborder="0" allowtransparency="true"></iframe>
</div>
