<div class="stack-el navigator skinny headroom-s">
<% if (!thought){ %>
  <% if (classname){ %>
  / <a href="/class/<%= classname %>"><%= classname %></a> 
  <% } %>
  <% if (week){ %>
  / <a href="/class/<%= classname %>">week <%= week %></a> 
  <% } %>
  <% if (assignment){ %>
  / <a href="/class/<%= classname %>/week/<%= week %>/assignment/<%= assignment %>"><%= assignment %></a>
  <% } %>
<% } %>
</div>
<div class="full">
  <%- partial(contentPartial) %>
</div>
<div class="myles-footer stack-el footroom-l">
  <hr>
  by Myles 
   <span class="more-posts" style="">| <a href="http://myles.io">read more posts</a></span>
   | <span class="" style=""><a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001xzhc59f6LQ_eTSA9m3uKLQ%3D%3D">mailing list</a></span>
<hr>
<p>
  <!--<span style="float:right"><iframe width="160" height="350" src="https://leanpub.com/passiveincome/embed" frameborder="0" allowtransparency="true"></iframe></span>-->
<!--<span style="width:300px;float:left">-->
<span style="font-size:80%">
<img style="width:20px;border:1px solid #FFF000" src="/images/prof_blog_dark.jpg" />
<i>Myles</i> is the maker of <a href="https://followgen.com">Followgen</a>. He's currently travelling the world and writing a <a href="http://leanpub.org/passiveincome">book</a> about passive income for programmers. Myles studied Philosophy and Chinese at Duke University before spending a few years in the startup world writing code. (<a href="http://twitter.com/recborg">@recborg</a>)</span>
</p>
</div>
