<div class="stack-el navigator skinny headroom-s">
<% if (!thought){ %>
  <a href="/">root</a>
  <% if (classname){ %>
  / <a href="/class/<%= classname %>"><%= classname %></a> 
  <% } %>
  <% if (week){ %>
  / <a href="/class/<%= classname %>">week <%= week %></a> 
  <% } %>
  <% if (assignment){ %>
  / <a href="/class/<%= classname %>/week/<%= week %>/assignment/<%= assignment %>"><%= assignment %></a>
  <% } %>
<% } %>
</div>
<div class="full">
  <%- partial(contentPartial) %>
</div>
<div class="myles-footer stack-el skinny footroom-l">
<hr>
  This was written by <a href="http://recb.org">Myles</a>
</div>
