<%
	var title = 'The Bookshop in 2015';
	var url = 'the-bookshop-in-2015';
%>


<div style="width:500px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b><%= title %></b></span><br>
		<span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  <hr>
</p>

<p>
I don’t buy books in bookshops anymore. I stopped about 7 years ago when I was given my first Kindle for Christmas. These days I don’t even use a physical Kindle, just the Kindle app on my iPhone. 
</p>

<p>
I love physical books, but what I love more is reading. I love reading so much that the boon of having a 300 book library in my pocket at all times trumps the tactile pleasure of owning physical books. Although I love being in libraries (personal and public), the amount of physical space that books consume is a serious deal breaker. 
</p>

<p>
On average I spend 1-2 hours a week in bookshops. Seems like an odd thing to do for someone who doesn’t ever buy physical books right? To me, bookshops have a new function as a browsing experience. It’s orders of magnitude more pleasurable than digital browsing. I love moving about a beautiful physical space that’s arranged thematically. I love cover art. I love physically handling books, and flicking through a few pages to get a taste for the language. I love the smell of books. I take the recommendations and curations of certain bookshops that I respect extremely seriously. 
</p>

<p>
Once I’ve decided that I want to read a book, I take a photo of it with my phone. I usually see others doing the same. Later (if I remember) I’ll flip through my photos and buy the kindle version of the book on Amazon. This process is broken. The user experience should be streamlined. I want to be able to simply take the photo and have the Kindle version arrive moments later. I also want to pay some kind of a commission to the bookshop for providing the curation and the browsing experience.
</p>

<p>
My ideal bookshop would be optimized for this behavior. Rather than holding a lot of inventory and selling physical units, the bookshop’s focus would be on excellent curation, and taking commission on digital sales. The bookshop would take advantage of either a QR code or image recognition to make digital sales and take commissions.
</p>

<p>
My ideal bookshop would also have a monthly membership fee which would cover access to members-only events. These would include readings, book-themed parties, and book discussion groups that meet in the store and also online. I have no idea if the economics would work out, but as an avid reader of e-books and a lover of the rapidly dwindling population of bookshops, I wish it existed.
</p>

<p>

	<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>

</p>
  
</div>
