<%
	var title = 'Twitter Shut Me Down';
	var url = 'twitter-shut-me-down';
%>


<div style="width:500px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b><%= title %></b></span><br>
		<span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  <hr>
</p>

<p>
	<div style="max-width:500px;" id="_giphy_6u1EqJe9JO9Ms"></div>
</p>

<p>
My Twitter API access was terminated on Nov 6 2013, the night before Twitter floated on the New York Stock Exchange. That night, six months had passed since I had <a href="http://edu.mkrecny.com/thoughts/twitter-should-shut-me-down">blogged</a> that 'Twitter <i>should</i> shut me down', and momentarily captured the attention of millions. Business was soaring.
</p>
<p>
My product, Followgen, took the humble Twitter favorite and gave it a new life as an advertising impression. At its core, Followgen was a way to deploy bulk Twitter favoriting. Some of those favorites would cause accounts to 'follow back' which was considered a conversion.
</p>
<p>
 Followgen was highly controversial from the get-go. Many argued that it was spam. Many of its users (including some Twitter employees) went to great lengths to the keep their Followgen usage a secret.
</p>
<p>
Kevin Weil (Twitter's VP of Product for Revenue) was in NYC the week that I published, 'Twitter should shut me down'.
</p>
<p> Kevin reached out to me after reading my post, and we arranged to meet up. In a brief conversation at Twitter's sunny Madison Avenue offices, we discussed the possibility of Followgen (aka me) joining the Twitter Ads team. <!--Kevin was charming and erudite, and he didn't show any distaste for what I'd done.-->
</p>
<p>
I left the meeting thinking my hands were tied. Although Kevin hadn't said it, I believed that Twitter would shut me down whether I joined them or not. If I joined them, at least I'd have something to show for my hard months of labor.
</p>
<p>
That evening, I emailed Kevin and thanked him for the meeting. I made a case for Followgen. I argued that Followgen enlarged the Twitter Ads marketplace. I also argued that my customers could become Twitter customers if I had access to the just-released Twitter Ads API (open to select partners only). As I hit 'send', my hopes weren't high.
</p>
<p>
He replied swiftly, pointing out that since I didn't exclusively own the inventory I was monetizing (favorites), margins would forever be squeezed down by new competitors. That turned out to be true. But to my astonishment, he ended the email with this:
</p>
<p>
"This is NOT to say that you can't pursue Followgen. But I maintain you'll have a bigger impact, and you'll have that impact more quickly, inside of Twitter."
</p>
<p>
Somehow, I dared believe, I'd been given the green-light to go ahead with Followgen.
</p>
<p>
In the following weeks the customer base multiplied rapidly in a surge powered by what was being touted as, "an ingenious PR stunt". Everyone from Facebook's Revenue chief to a handful of top Silicon Valley VCs wanted to meet up and pick my brain.
</p>
<p>
I said 'no' to all of the opportunities that came my way, and in June of 2013, I used some of the money from Followgen to host a one-month <a href="http://microha.us">'incubator for individuals'</a> in Brooklyn.
</p>
<p>
Six months later, my girlfriend and I were in London. One wintry evening found me perusing my inbox to stumble across a singular, unwelcome email. "Application suspension notice".
</p>
<p>
I'd imagined it happening countless times, but was still totally unprepared. I felt a combination of shame ("I guess I'm the bad guy"), childish outrage ("how could they turn off my livelihood without warning me?") and dread ("I'm going to let my customers down").
</p>
<p>
I tried to find a compromise with Twitter. I argued that reducing favoriting volume to a few per hour (something a human could do manually) wasn't against the terms of service. I implored them to let me live for a few more weeks while I pivoted the product. They pointed to the terms of service, and firmly shook their heads.
</p>
<!--<p>
At the same time, the cry of outrage from my customers was overwhelming. For many of them, business critical traffic had simply stopped flowing. I was caught high and dry with no product to deliver to a valuable and engaged customer base. In short, I got what everyone with half a brain had said I had coming to me.
</p>-->
<p>
Followgen will probably be remembered as black hat technology. That's not how I viewed it at the start, but that's how I have come to view it. Nevertheless, most of what I've learned from the experience is priceless, and for that reason, I don't regret it. All lessons will be applied in my next experiment.
</p>
<p>
I don't believe anyone was damaged by this whole thing.
</p>
<p>
<a href="/thoughts/2014">Here's</a> what I'm doing next.
</p>
<p>

	<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>

</p>
  
</div>
<script>var _giphy = _giphy || []; _giphy.push({id: '6u1EqJe9JO9Ms',w: 245, h: 145});var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/embed.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);</script>