<%
	var title = 'Twitter Shut Me Down';
	var url = 'twitter-shut-me-down';
%>


<div style="width:500px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b><%= title %></b></span><br>
		<span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  <hr>
</p>

<!--<p>
<i>
This is part 2 of the Followgen Saga. <a href="http://edu.mkrecny.com/thoughts/twitter-should-shut-me-down">Here's part 1.</a>
</i>
</p>-->
<p>
	<div style="max-width:500px;" id="_giphy_6u1EqJe9JO9Ms"></div>
</p>

<p>
At 25, I found myself running a very profitable black hat advertising platform. The platform was called Followgen, and I was its sole creator; a self-identified 'hacker' and reluctant resident of New York City. At the time, Followgen was just six months old, and I believed its days were numbered. 
</p>
<p>
The problem was that Followgen automated what was supposed to be an authentic human action, the Twitter 'favorite'. Essentially Followgen was a way for you to automatically favorite all tweets made by potential customers, driving follows and website visits.  Many dubbed it a close cousin of email spam and most users (including some Twitter employees) were extremely secretive about their Followgen accounts. I knew that Twitter wouldn't like it, and I knew that they could switch off my API integration at any moment.
</p>
<p>
 I decided to preempt the inevitable shut down of Followgen, blogging that <a href="http://edu.mkrecny.com/thoughts/twitter-should-shut-me-down">"Twitter <i>should</i> shut me down"</a>. The post went viral and momentarily captured the attention of the global tech community. Twitter noticed.
</p>
<p>
Kevin Weil (Twitter's VP of Product for Revenue) was in NYC the week that the post went out. He reached out to me and we arranged to meet up. We had a brief conversation inside of Twitter's sunny Madison Avenue offices. What we discussed was the possibility of Followgen (aka me) joining the Twitter Ads team.
</p>
<p>
I left the meeting suspecting that my hands were tied. Although Kevin hadn't said it, I was sure that Twitter would shut me down whether I joined them or not. If I joined them, at least I'd have something to show for my six months of hard labor.
</p>
<p>
That evening, I emailed Kevin and made a case for Followgen. I argued that Followgen enlarged the Twitter Ads marketplace. I also argued that my customers could become Twitter's customers if I had access to the just-released Twitter Ads API. As I hit 'send', my hopes weren't high.
</p>
<p>
Kevin replied swiftly, pointing out that since I didn't exclusively own the inventory I was monetizing, margins would forever be squeezed down by new competitors. But to my astonishment, he ended the email with this:
</p>
<p>
"This is NOT to say that you can't pursue Followgen. But I maintain you'll have a bigger impact, and you'll have that impact more quickly, inside of Twitter."
</p>
<p>
	<img style="width:100%" src="https://s3.amazonaws.com/mylesio/kw.png" />
	<br>
	<span style="font-size:80%"><i>Email from Kevin Weil to Myles Recny on 5/4/13 - Kevin's email address redacted.</i></span>
</p>
<p>
Somehow, I dared believe, I'd been granted life. The chance to go ahead with Followgen. As it turned out, that belief was extremely naïve.
</p>
<p>
In the following weeks the customer base multiplied rapidly in a surge powered by what was being touted as, "an ingenious PR stunt". Everyone from Facebook's Revenue chief to a handful of top Silicon Valley VCs wanted to meet up and pick my brain.
</p>
<p>
Instead of jumping into bed with the army of technorati now interested in me, I used some of the money from Followgen to host a one-month <a href="http://microha.us">'incubator for individuals'</a> in Brooklyn.
</p>
<p>
Six months later, my girlfriend and I were in London. We'd been exploring Europe since the incubator had ended and were considering relocating permanently. But on the evening of Nov 6, a singular, unwelcome email arrived in my inbox. "Application suspension notice". Followgen ceased to function, and Twitter IPO'd the next day.
</p>
<p>
Followgen will probably be remembered as black hat technology. That's not how I viewed it at the start, but that's how I came to view it. Nevertheless, what I've learned from the experience is extremely valuable. At the end of the day I developed a product, marketed it and ran it profitably from day to day for over a year. My customers were real, and the technology non-trivial. For that reason, I don't regret it. All lessons will be applied in my next endeavour.
</p>
<p>
I don't believe that anyone was damaged by this whole thing.
</p>
<p>
<a href="/thoughts/2014">Here's</a> what I'm doing next.
</p>
<p>

	<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>

</p>
  
</div>
<script>var _giphy = _giphy || []; _giphy.push({id: '6u1EqJe9JO9Ms',w: 245, h: 145});var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/embed.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);</script>