<%
	var title = 'Twitter Shut Me Down';
	var url = 'twitter-shut-me-down';
%>


<div style="width:500px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b><%= title %></b></span><br>
		<span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  <hr>
</p>

<p>
	<div style="max-width:500px;" id="_giphy_6u1EqJe9JO9Ms"></div>
</p>

<p>
In April of 2012 I was 25 and running a highly profitable black-hat advertising platform in NYC. The platform was called Followgen and was just six months old. I believed that Followgen's days were numbered because it relied on the Twitter API, and was disruptive to their revenue model. 
</p>
<p>
Followgen usage was controversial because it automated, at scale, what was apparently a manual human action (the Twitter 'favorite'). Many customers (including some Twitter employees) were extremely secretive about their Followgen habit. Many considered it spammy, and although the Twitter terms of service didn't (yet) deem it illicit, I could see the writing on the wall.
</p>
<p>
 Rather than invest my time in a ship that I believed was about to sink, I did something that most of my peers thought was idiotic. I blogged that <a href="http://edu.mkrecny.com/thoughts/twitter-should-shut-me-down">"Twitter <i>should</i> shut me down"</a>, which went viral and momentarily captured the attention of millions. Twitter noticed.
</p>
<p>
Kevin Weil (Twitter's VP of Product for Revenue) was in NYC the week that the post went out. He reached out to me after reading my post, and we arranged to meet up. In a brief conversation at Twitter's sunny Madison Avenue offices, we discussed the possibility of Followgen (aka me) joining the Twitter Ads team.
</p>
<p>
I left the meeting thinking my hands were tied. Although Kevin hadn't said it, I was sure that Twitter would shut me down whether I joined them or not. If I joined them, at least I'd have something to show for my hard months of labor.
</p>
<p>
That evening, I emailed Kevin and thanked him for the meeting. I made a case for Followgen. I argued that Followgen enlarged the Twitter Ads marketplace. I also argued that my customers could become Twitter customers if I had access to the just-released Twitter Ads API (open to select partners only). As I hit 'send', my hopes weren't high.
</p>
<p>
He replied swiftly, pointing out that since I didn't exclusively own the inventory I was monetizing (favorites), margins would forever be squeezed down by new competitors. That turned out to be true. But to my astonishment, he ended the email with this:
</p>
<p>
"This is NOT to say that you can't pursue Followgen. But I maintain you'll have a bigger impact, and you'll have that impact more quickly, inside of Twitter."
</p>
<p>
Somehow, I dared believe, I'd been given the green-light to go ahead with Followgen. That, was incredibly stupid.
</p>
<p>
In the following weeks the customer base multiplied rapidly in a surge powered by what was being touted as, "an ingenious PR stunt". Everyone from Facebook's Revenue chief to a handful of top Silicon Valley VCs wanted to meet up and pick my brain.
</p>
<p>
I said 'no' to all of the opportunities that came out of this, and in June of 2013, I used some of the money from Followgen to host a one-month <a href="http://microha.us">'incubator for individuals'</a> in Brooklyn.
</p>
<p>
Six months later, my girlfriend and I were in London, a new home-base while we explored Europe. The evening of Nov 6 found me perusing my inbox to stumble across a singular, unwelcome email. "Application suspension notice". Twitter IPO'd the next day.
</p>
<p>
I tried to find a compromise with Twitter. I argued that reducing favoriting volume to a few per hour (something a human could do manually) wasn't against the terms of service. I implored them to let me live for a few more weeks while I pivoted the product. They pointed to the terms of service, and firmly shook their heads.
</p>
<p>
Followgen will probably be remembered as black hat technology. That's not how I viewed it at the start, but that's how I have come to view it. Nevertheless, most of what I've learned from the experience is priceless, and for that reason, I don't regret it. All lessons will be applied in my next experiment.
</p>
<p>
I don't believe anyone was damaged by this whole thing.
</p>
<p>
<a href="/thoughts/2014">Here's</a> what I'm doing next.
</p>
<p>

	<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>

</p>
  
</div>
<script>var _giphy = _giphy || []; _giphy.push({id: '6u1EqJe9JO9Ms',w: 245, h: 145});var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/embed.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);</script>