<%
	var title = "What has Myles been up to?";
	var url = 'what-has-myles-been-up-to';
%>


<div style="width:500px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b><%= title %></b></span><br>
		<!--<span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>-->
  <hr>
</p>

<p>
Last time I wrote to you, it was to tell you that Followgen had been shut down by Twitter. That was in November of last year. This email is about what I've been up to since then, and to ask you for advice on next steps.
</p>

<p>
After Followgen was shut down I stayed in London and started working on two new projects in tandem. This, it turns out was probably a bad idea. I ended up with two half-baked things, neither of which are deserving of much traction. Despite this, one of the projects has a small active user base and, with a few tweaks, could be a decent SaaS business. 
</p>
<p>
My girlfriend and I left London in December and spent a month in Australia before returning to NYC. I decided to take on a role at the Samsung Accelerator as a 'Hacker in Residence'. This was supposed to be a 3 month program where I developed a prototype of something which would turn into a company. I didn't finish the 3 months there. The problem was that I didn't and wouldn't have any ownership (yes, zero equity) in what I was building. I didn't think that would end up bothering me as much as it did. On top of that, one of my co-workers took it upon themselves to sexually harass me. This isn't a "women only" problem. I left after a month and a half, tail between my legs.
</p>
<p>
After Samsung, I became momentarily fascinated with NYC's boutique fitness scene and built <a href="http://fitfluent.com">this</a> - a prototype of some sort of Mattermark for fitness instructors. What do you think?
</p>
<p>
I've since secured a desk in Gary Chou's fantastic new revamp of the old Kickstarter space "Orbital". I've been there for a month now, and am consulting for 2 to 3 hours a day. In the remaining hours, I write fiction (erotica and sci-fi), work on the SaaS project I mentioned, and exercise a lot. I've also committed to being an instructor at Gary's "Orbital Bootcamp" on Tuesday nights, which I'm looking forward to. 
</p>
<p>
I'm having lots of fun right now. It's Summer in NYC, my schedule is pretty relaxed and I'm making good money. But I can't help feeling that I've wandered off the 'right path' a bit, or at least one of the many 'right paths' that probably exist.
</p>
<p>
I don't want to work at a startup. Not as a founder, not as an employee. I don't think that the kind of work-life imbalance that most of them perpetrate is healthy. At least, I can say that it doesn't work for me. The internet and programming represent and opportunity to break away from all day long desk slavery.
</p>
<p>
I still feel that there's a universe of opportunities out there that are too small to be funded or sustain teams .. but large enough for a 'micropreneur' to live on. These ideas are probably in the $100k - $200k yearly revenue range.
</p>
<p>
I'd really love to hear your thoughts. Don't hold back from expressing strong opinions. I will value them, but take them with a healthy pinch of salt and consider them a single data point. mkrecny at gmail.
</p>

<p>

	<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>

</p>
  
</div>
